div2 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 300px;
    color: #1B1717;
}

div3 {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
    border: solid;
}

div4 {
    padding-left: 200px;
    padding-right: 50px;
    padding-bottom: 30px;
    border: solid;
}

h2 {
    display: flex;
    padding-left: 150px;
}

h3 {
    display: flex;
    justify-content: right;
    padding-top: 250px;
    padding-left: 200px;
}

h8 {
    display: flex;
    justify-content: bottom;
    padding-top: 22px;
}