
.container{
    display: flex;
    color: #1B1717;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    overflow: hidden;
    font-size: 33px;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    max-width: 1500px;    
    padding-left: auto;
    padding-right: auto;
    font-weight: 300;



}
.recBox { 
    list-style: none;
    float: left;
    width: 13%;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;


}

.recPhoto {
    border-radius: 50%;
    
}

