

.search {
    border-radius: 8px;
    border: solid #EEEBDD;
    font-size: 40px;
    background-color: #EEEBDD;
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    max-width: 900px;  
    font-style: italic;
    border: solid black;
}



.cart{
    background-color: red;
    border: solid red;
}


